<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/website-files/slideshow.css">
</head>
<body>

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="price">$50.00</div>
        <img src="website-files/images/woman-front.jpg" style="width:100%">
        <div class="description">White sweater</div>
    </div>

    <div class="mySlides fade">
        <div class="price">$35.00</div>
        <img src="website-files/images/unisex.jpg" style="width:100%">
        <div class="description">Black Jeans</div>
    </div>

    <div class="mySlides fade">
        <div class="price">$25.00</div>
        <img src="website-files/images/dancer2.jpg" style="width:100%">
        <div class="description">Deniem Jacket</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<script src="app.js"></script>

</body>
</html> 
