<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sample TopNav Bar</title>

        <link rel="stylesheet" type="text/css" href="nav.css">
        <script src="https://kit.fontawesome.com/767c462c99.js"></script>
    </head>

    <body>
        <!----------------------------------- Nav Bar ----------------------------------->
        <ul>
            <li> Logo </li>

            <!-- Mens Nav Selection -->
            <li class="dropdown">
                 <a href="#" class="active">Men's</a> 
                    <div class="dropdown-content">
                        <a href="#">Tops</a>
                        <a href="#">Bottoms</a>
                        <a href="#">Accessories</a>
                        <a href="#">Shoes</a>
                        <a href="#">Swimwear</a>
                    </div>
            </li>


            <!-- Womens Nav Selection -->
            <li class="dropdown">
                 <a href="#" class="dropbtn">Women's</a>
                    <div class="dropdown-content">
                        <a href="#">Tops</a>
                        <a href="#">Bottoms</a>
                        <a href="#">Accessories</a>
                        <a href="#">Shoes</a>
                        <a href="#">Swimwear</a>
                    </div>
            </li>

            <!-- Unisex Nav Selection -->
            <li class="dropdown">
                 <a href="#" class="dropbtn">Unisex</a>
                    <div class="dropdown-content">
                        <a href="#">Tops</a>
                        <a href="#">Bottoms</a>
                        <a href="#">Accessories</a>
                        <a href="#">Shoes</a>
                        <a href="#">Swimwear</a>
                    </div>
            </li>

            <li id="cartButton"> <a href="#"> <i class="fas fa-shopping-cart"></i> </a> </li>
            <li id="loginButton"> <a href="#">Login / Sign Up</a> </li>
            <li id="searchContainer"> 
                <form action="search.php" method="POST">
                    <input type="text" placeholder="Search.." size="30" id="searchBar">
                    <button type="submit" id="searchIcon"> <i class="fa fa-search"></i> </button>
                </form>
             </li>
        </ul>

        <!------------------------------------------------- Bottom Panel ------------------------------------------------->
        <div class="bottom-panel">
            <a href="#">About Us</a>
            <a href="#">Careers</a>
            <a href="#">FAQ</a>
            <a href="#">Customer Support</a>
        </div>
    </body>
</html>