.overlay{
    background-color: lightgray;
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    margin-left: 20%;
    margin-right: 20%;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*********** Slideshow CSS ***********/
.slideshow-container{
    width: 80%;
    position: relative;
    margin: auto;
}

.image-slide{
    display: none;
}

img{
    vertical-align: middle;
    width: 100%;
}

.image-number{
    color: #f2f2f2;
    background-color: #333;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.prev, .next {
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.75);
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #333;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/*********** Details CSS ***********/
.overlayItem{
    font-weight: bold;
    font-size: 14pt;
}