<!-- This page will be populated with PHP as product is selected -->

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="/473Project/components/ProductOverlay.css">
</head>

    <body>
        <!-- HTML for the Overlay -->
        <div class="overlay">
            <h2>Product Name</h2>
            <hr><br>

            <!-- HTML for the Slideshow -->
            <div class="slideshow-container">
                <div class="image-slide">
                    <div class="image-number">1 / 6</div>
                    <img src="/473Project/assets/images/index/dancer2.jpg">
                </div>

                <div class="image-slide">
                    <div class="image-number">2 / 6</div>
                    <img src="/473Project/assets/images/index/man-standing.jpg">
                </div>

                <div class="image-slide">
                    <div class="image-number">3 / 6</div>
                    <img src="/473Project/assets/images/index/unisex.jpg">
                </div>

                <div class="image-slide">
                    <div class="image-number">4 / 6</div>
                    <img src="/473Project/assets/images/index/woman-front.jpg">
                </div>

                <div class="image-slide">
                    <div class="image-number">5 / 6</div>
                    <img src="/473Project/assets/images/index/clothing-shelf.jpg">
                </div>

                <div class="image-slide">
                    <div class="image-number">6 / 6</div>
                    <img src="/473Project/assets/images/man-laying.jpg">
                </div>

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <br>

                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span> 
                    <span class="dot" onclick="currentSlide(2)"></span> 
                    <span class="dot" onclick="currentSlide(3)"></span> 
                    <span class="dot" onclick="currentSlide(4)"></span> 
                    <span class="dot" onclick="currentSlide(5)"></span> 
                    <span class="dot" onclick="currentSlide(6)"></span> 
                </div>
            </div>

            <label class="overlayItem">Price: </label> <label id="price">$50.00</label>

            <h3>Product Description:</h3>
            <p id="productDescription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, aliquam iste mollitia odit, sit delectus doloremque 
                ab necessitatibus consequatur eveniet impedit. Amet facere ex quae cum nobis aliquam, esse iste.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, aliquam iste mollitia odit, sit delectus doloremque 
                ab necessitatibus consequatur eveniet impedit. Amet facere ex quae cum nobis aliquam, esse iste.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, aliquam iste mollitia odit, sit delectus doloremque 
                ab necessitatibus consequatur eveniet impedit. Amet facere ex quae cum nobis aliquam, esse iste.
            </p>

            <label class="overlayItem">Quantity: </label> <input type="number" min="0" max="100" step="1" value="0">
            <br><br>

            <label class="overlayItem">Size: </label> 
            <select>

            </select>
            <br><br>

        </div>

       <script src="/473Project/components/ProductOverlay.js"> </script>
    </body>
</html>