  body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

/**************************************** CSS for Nav Links ************************************************/
.nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-ul li {
  float: left;
}

.nav-ul li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.nav-ul li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 206, 206);
}
  
.nav-ul li .dropdown {
  display: inline-block;
}
  
.nav-ul .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.nav-ul .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  
.nav-ul .dropdown-content a:hover {
  background-color: #f1f1f1;
}
  
.nav-ul .dropdown:hover .dropdown-content {
  display: block;
}

#cartButton, #loginButton, #accountButton, #searchIconBlock, #searchBarBlock{
  float: right;
}

#searchBarBlock{
  margin: 10px 10px 10px 0px;
  display: inline-block;
}

#searchIcon{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 14pt;
  margin: auto;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
}

#searchIcon:hover{
  background-color: rgb(0, 206, 206);
  cursor: pointer;
}

.active{
  background-color: rgb(0, 173, 173);
}


.logo{
  width: 75px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.logo:hover{
  cursor: pointer;
}

  /**************************************** CSS for Bottom Bar ************************************************/

.bottom-panel{
  background-color: #555555;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.bottom-panel a{
  color: white;
  text-decoration: none;
  padding: 15px;
}

.bottom-panel a:hover{
  color: rgb(0, 206, 206);;
}

.bottom-panel .bottomActive{
  color: rgb(0, 206, 206);
}