  body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

/**************************************** CSS for Nav Links ************************************************/
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
li a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(0, 206, 206);
}
  
li.dropdown {
  display: inline-block;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
  
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
  
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
  display: block;
}

#cartButton, #loginButton{
  float: right;
}

.active{
  background-color: rgb(0, 173, 173);
}

#searchContainer{
  float: right;
  padding: 13px;
}

#searchBar{
  border-radius: 5px;
  border: none;
  padding: 2px;
}

#searchIcon{
  background: transparent;
  color: white;
  border: none;
}

#searchIcon:hover{
  cursor: pointer;
}

.logo{
  width: 75px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.logo:hover{
  cursor: pointer;
}

  /**************************************** CSS for Bottom Bar ************************************************/

.bottom-panel{
  background-color: #555555;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.bottom-panel a{
  color: white;
  text-decoration: none;
  padding: 15px;
}

.bottom-panel a:hover{
  color: rgb(0, 206, 206);;
}

.bottom-panel .bottomActive{
  color: rgb(0, 206, 206);
}